/**
 * Common classes for grids on Guidelines, Monitor, Take Action pages.
 */

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
