/**
 * Common classes for grids on Guidelines, Monitor, Take Action pages.
 */

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.1);
    background-color: #fff;

    a {
      color: inherit;
    }
  }
}

@media screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
