.guidelines {
  h2 {
    font-size: 1.5rem;
    color: #666;
    border-bottom: 2px solid #e5e7eb;
    margin: 50px 0 20px;
  }

  .grid-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .card {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.1);
      background-color: #fff;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .zone1 {
    .body {
      padding: 10px 20px 20px;
      font-size: 1rem;

      h3, p {
        font-size: 1rem;
        margin: 10px 0;
      }

      .more {
        font-size: 0.8rem;
      }
    }

    .status-strip {
      color: white;
      text-transform: uppercase;
      padding: 10px 20px;
      font-size: 14px;

      &.asset {
        background-color: #547C96;
      }

      &.recommended {
        background-color: #E09F3E;
      }

      &.prohibited {
        background-color: #C85555;
      }

      &.caution, &.protocol {
        background-color: #E09F3E;
      }
    }
  }

  .zone2 {
    .card {
      img {
        width: 100%;
        height: 200px;
        object-position: center;
        object-fit: cover;
      }

      .body {
        padding: 10px 20px;
        font-size: 14px;

        a {
          color: inherit;
          text-decoration: none;
        }

        .label {
          font-size: 0.75rem;
          text-transform: uppercase;
        }

        h3 {
          font-size: 17px;
          color: inherit;
          margin: 5px 0;
        }
      }
    }
  }

  .zone3 {
    h3 {
      font-weight: 400;
      font-size: 1rem;
    }
  }

  .file-list {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.1);
    background-color: #fff;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;

    .file {
      display: flex;
      flex-direction: row;
      padding: 10px 20px;
      gap: 20px;
      color: inherit;
      border-bottom: 1px solid #e5e7eb;
      text-decoration: none;

      .icon {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        background: #f0f2f5;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
      }

      .text {
        flex: 1 1 0;

        display: flex;
        flex-direction: column;

        .title {
          font-weight: 400;
        }

        .description {
          font-size: 0.875rem;
          opacity: 0.75;
        }
      }

      .download {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .guidelines {
    .grid-layout {
      display: flex;
      flex-direction: column;
    }
  }
}
