.monitor {
  --alert-bar: #3B82F6;
  --concern-bar: #F59E0B;
  --tracking-bar: #F59E0B;

  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #6B7280;
    border-bottom: 2px solid #E5E7EB;
    margin-top: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .dash {
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.1);
    background-color: #fff;

    display: grid;
    grid-template-columns: 3fr 1fr;

    .map {
      background-color: #ccc;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .numbers {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      gap: 20px;

      .number-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        .number {
          font-size: 2.5rem;
          font-weight: 800;
          color: #6D8A6D;
        }

        .label {
          font-size: 0.85rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .watchlist, .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .card {
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      padding: 20px;
      border-left: 6px solid #6D8A6D;

      display: flex;
      flex-direction: row;
      gap: 10px;

      .icon {
        flex: 0 0 30px;
        font-size: 1.5rem;
      }

      .body {
        flex: 1;

        .title {
          font-size: 1rem;
          font-weight: 600;
        }

        .date {
          font-size: 0.85rem;
          color: #555;
          margin: 5px 0 10px;
          text-transform: uppercase;
        }

        .text {
          font-size: 0.85rem;
          color: #555;
          margin: 5px 0 10px;
        }

        .bottom {
          font-size: 0.8rem;
          color: #6D8A6D;
          text-transform: uppercase;
        }
      }

      &.concern {
        border-left-color: var(--concern-bar);

        .bottom {
          color: var(--concern-bar);
        }
      }

      &.alert {
        border-left-color: var(--alert-bar);

        .bottom {
          color: var(--alert-bar);
        }
      }

      &.tracking {
        border-left-color: var(--tracking-bar);

        .bottom {
          color: var(--tracking-bar);
        }
      }
    }
  }
}
