{% set items = load_data(path="data/home-alerts.yaml") %}

{% for item in items | slice(end=1) %}
    <section class="home-alert" style="--alert-color: {{ item.color }}">
        <div class="container">
            <div class="content">
                <div class="info">
                    <div class="icon">
                        {{ item.icon | safe }}
                    </div>
                    <div class="text">
                        <div class="line">{{ item.content[lang].title }}</div>
                        <div class="line">{{ item.content[lang].description }}</div>
                    </div>
                </div>

                <a href="{{ get_url(path=item.link, lang=lang) }}" class="medium button">{{ item.content[lang].cta }}</a>
            </div>
        </div>
    </section>
{% endfor %}
