{% set campaigns = load_data(path="data/campaigns.yaml") %}

{% if campaigns | length > 0 %}
    <h2>{{ trans(key="home_campaigns", lang=lang) }}</h2>

    <div class="campaign cards">
        {% for campaign in campaigns %}
            {% set permalink = get_url(path=campaign.link, lang=lang) %}

            <div class="card">
                <a href="{{ permalink }}" class="image">
                    <img src="{{ campaign.image }}" />
                </a>
                <div class="body">
                    <div class="tag"><span>{{ trans(key="home_campaign", lang=lang) }}</span></div>
                    <div class="title"><a href="{{ permalink }}">{{ campaign.content[lang].title | safe }}</a></div>
                    <div class="description">{{ campaign.content[lang].description | safe }}</div>
                    <div class="more">
                        <a href="{{ permalink }}">{{ trans(key="nav_more", lang=lang) }} →</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
