<div class="language-selector">
    {% if section %}
        {% for t in section.translations | sort(attribute="lang") %}
            <a href="{{ t.permalink }}" title="{{ t.title }}"{% if t.lang == lang %} class="active"{% endif %}>{{ t.lang }}</a>
        {% endfor %}
    {% elif page %}
        {% for t in page.translations | sort(attribute="lang") %}
            <a href="{{ t.permalink }}" title="{{ t.title }}"{% if t.lang == lang %} class="active"{% endif %}>{{ t.lang }}</a>
        {% endfor %}
    {% endif %}
</div>
