{% macro header(lang) %}
    <header>
        <div class="wrapper">
            <a class="logo" href="{{ get_url(path="@/_index.md", lang=lang) }}">
                <img src="/images/logo-owl.png" alt="Kanach Yerevan Logo" />
                <div class="title">{{ config.title }}</div>
            </a>

            <nav class="sections" id="main-nav">
                <a href="{{ get_url(path="@/guidelines/_index.md", lang=lang) }}">{{ trans(key="nav_guidelines", lang=lang) }}</a>
                <a href="{{ get_url(path="@/monitor/_index.md", lang=lang) }}">{{ trans(key="nav_monitor", lang=lang) }}</a>
                <a href="{{ get_url(path="@/journal/_index.md", lang=lang) }}">{{ trans(key="nav_journal", lang=lang) }}</a>
                <a href="{{ get_url(path="@/about/index.md", lang=lang) }}">{{ trans(key="nav_about", lang=lang) }}</a>
                <a href="{{ get_url(path="@/action/_index.md", lang=lang) }}" class="button">{{ trans(key="nav_action", lang=lang) }}</a>
            </nav>

            <nav class="languages">
                {% if section %}
                    {% for t in section.translations | sort(attribute="lang") %}
                        <a href="{{ t.permalink }}" title="{{ t.title }}"{% if t.lang == lang %} class="active"{% endif %}>{{ t.lang }}</a>
                    {% endfor %}
                {% elif page %}
                    {% for t in page.translations | sort(attribute="lang") %}
                        <a href="{{ t.permalink }}" title="{{ t.title }}"{% if t.lang == lang %} class="active"{% endif %}>{{ t.lang }}</a>
                    {% endfor %}
                {% endif %}
            </nav>

            <div class="mobile bars">
                <button id="menu-toggle" aria-label="Toggle menu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
                </button>
            </div>
        </div>
    </header>
{% endmacro %}
