{% macro numbers(lang) %}
    {% set numbers = load_data(path="data/numbers.yaml") %}

    <div class="numbers">
        <div class="number">
            <div class="value">{{ numbers.trees_total }}</div>
            <div class="label">{{ trans(key="home_trees_mapped", lang=lang) }}</div>
        </div>
        <div class="number">
            <div class="value">{{ numbers.trees_alive }}</div>
            <div class="label">{{ trans(key="home_trees_healthy", lang=lang) }}</div>
        </div>
        <div class="number">
            <div class="value">{{ numbers.trees_users }}</div>
            <div class="label">{{ trans(key="home_trees_users", lang=lang) }}</div>
        </div>
    </div>
{% endmacro %}
