<div class="green-density">
    <div class="header">
        <div class="pointer">
            <div class="label">{{ trans(key="den_here", lang=lang) }}: 8.5 {{ trans(key="den_m2", lang=lang) }}</div>
            <div class="mark"></div>
        </div>
    </div>

    <div class="bar">
        <div class="red"></div>
        <div class="yellow"></div>
        <div class="green"></div>
    </div>

    <div class="labels">
        <div class="min">
            <div class="mark"></div>
            <div class="value">9.0</div>
            <div class="label">{{ trans(key="den_min", lang=lang) }}</div>
        </div>
        <div class="good">
            <div class="mark"></div>
            <div class="value">20.0</div>
            <div class="label">{{ trans(key="den_good", lang=lang) }}</div>
        </div>
        <div class="ideal">
            <div class="mark"></div>
            <div class="value">50.0</div>
            <div class="label">{{ trans(key="den_ideal", lang=lang) }}</div>
        </div>
    </div>

    <div class="notes">
        <div class="note">
            <div class="bad circle"></div>
            <div class="text">
                <div class="label">{{ trans(key="den_bad_label", lang=lang) }}</div>
                <div class="hint">{{ trans(key="den_bad_hint", lang=lang) }}</div>
            </div>
        </div>
        <div class="note">
            <div class="ok circle"></div>
            <div class="text">
                <div class="label">{{ trans(key="den_ok_label", lang=lang) }}</div>
                <div class="hint">{{ trans(key="den_ok_hint", lang=lang) }}</div>
            </div>
        </div>
        <div class="note">
            <div class="good circle"></div>
            <div class="text">
                <div class="label">{{ trans(key="den_good_label", lang=lang) }}</div>
                <div class="hint">{{ trans(key="den_good_hint", lang=lang) }}</div>
            </div>
        </div>
    </div>
</div>
