body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  display: flex;
  flex-direction: column;
  gap: 30px;
}

header, main, footer {
  .wrapper {
      box-sizing: border-box;

      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 0 30px;

  }
}

header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;

    line-height: 50px;
    height: 50px;

    color: #424242;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      line-height: 54px;
    }

    nav {
      display: flex;
      flex-direction: row;
      gap: 20px;

      a, a:visited {
        display: block;
        color: inherit;
      }
    }

    .logo {
      display: flex;
      flex-direction: row;
      gap: 10px;
      flex-grow: 1;

      img {
        width: 42px;
        height: 42px;
        margin: 4px 0;
      }

      .title {
        font-size: 26px;
        letter-spacing: -1px;
      }
    }
}

main {
  flex: 1;

  a {
    color: #1756a9;
    text-decoration: none;

    &:hover {
      color: #111;
      text-decoration: underline;
    }

    &:visited {
      color: #1756a9;
    }
  }

  h1 {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.15;
    font-weight: 400;
    margin: 10px 0;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 1em 0 15px;
  }

  ul {
    margin: 0 0 15px 30px;
    padding: 0;
  }

  blockquote {
    color: #828282;
    letter-spacing: -1px;
    border-left: 8px solid #e8e8e8;
    padding: 0 0 0 15px;
    margin: 0 0 15px;
    font-style: italic;
  }

  img {
    max-width: 100%;
  }

  .post-date, .translate {
    opacity: 0.5;
    font-size: 85%;
  }
}

footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  color: #828282;
  font-size: 15px;

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  p {
    margin: 0 0 15px;
  }

  a {
    color: inherit;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      margin: 0;
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    gap: 10px;

    a {
      display: block;
      width: 30px;
      height: 30px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.translate {
  span + span::before {
    content: ' · ';
  }

  a, a:visited {
    color: inherit;
  }
}

main .album {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  header, main, footer {
    .wrapper {
      padding: 0 10px;
    }
  }

  main {
    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 28px;
    }
  }

  footer {
    .wrapper {
      flex-direction: column;
      gap: 10px;
    }

    .social {
      gap: 20px;
    }
  }
}

main .hotnav {
  line-height: 30px;
  list-style-type: none;
  margin: 0 0 50px;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 5px;

  li {
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px;
    flex-grow: 1;
    text-align: center;
    line-height: 30px;
  }

  a {
    display: block;
    text-decoration: none;
  }

  svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
}

img.stripe {
  width: 100%;
  aspect-ratio: 4 / 1;
  object-fit: cover;
  object-position: center;
}
