{% extends "index.html" %}
{% import "macros/journal.html" as journal %}
{% import "macros/bmp.html" as bmp %}
{% import "macros/map.html" as map %}

{% block title %}{{ section.title }}{% endblock %}

{% block page_main %}
    <section class="home-splash">
        <div class="container">
            <div class="content">
                <h1>{{ section.title }}</h1>
                <p class="description">{{ section.description }}</p>

                <div class="button-bar">
                    <a href="{{ get_url(path="@/action/report.md", lang=lang) }}" class="alert button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="alert-triangle" class="lucide lucide-alert-triangle w-5 h-5"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"></path><path d="M12 9v4"></path><path d="M12 17h.01"></path></svg>
                        <span>{{ trans(key="home_report", lang=lang) }}</span>
                    </a>
                    <a href="{{ get_url(path="@/guidelines/_index.md", lang=lang) }}" class="shy button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="book-open" class="lucide lucide-book-open w-5 h-5"><path d="M12 7v14"></path><path d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"></path></svg>
                        <span>{{ trans(key="home_guidelines", lang=lang) }}</span>
                    </a>
                </div>

                {{ map::numbers(lang=lang) }}
            </div>
        </div>
    </section>

    {% include "partials/home-alert.html" %}

    <main class="container">
        {% include "partials/home-campaigns.html" %}

        <div class="post">
            {{ section.content | safe }}

            {{ bmp::tiles(lang=lang, count=2) }}

            {{ journal::recent(lang=lang, count=5, footer=true) }}
        </div>
    </main>
{% endblock page_main %}
