{% extends "base.html" %}
{% import "macros/layout.html" as layout %}

{% block title %}{% if section.extra.seo_title %}{{ section.extra.seo_title }}{% elif section.title | length > 45 %}{{ section.title }}{% else %}{{ section.title }} — {{ config.title }}{% endif %}{% endblock %}

{% block page_body %}
    {% block header %}
        {{ layout::header(lang=lang) }}
    {% endblock header %}

    {% block page_main %}
        <main>
            <div class="wrapper">
                <div class="content container">
                    {% block content %}
                        <div class="post">
                          <h1 class="post-title">{{ section.title }}</h1>

                          {{ section.content | safe }}
                        </div>
                    {% endblock content %}
                </div>
            </div>
        </main>
    {% endblock page_main %}

    {% block footer %}
        {{ layout::footer(lang=lang) }}
    {% endblock footer %}
{% endblock %}
