{% extends "index.html" %}

{% block content %}
    <div class="post">
        <h1 class="post-title">{{ section.title | safe }}</h1>

        {{ section.content | safe }}
    </div>

    {% if section.pages %}
        <div class="dated-list">
            {% for page in section.pages %}
                <div class="item">
                    {% if page.date %}
                        <div class="date">{{ page.date | date(format="%d.%m.%Y") }}</div>
                    {% endif %}
                    <div class="title">
                        <a href="{{ page.permalink }}">{{ page.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
