{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <div class="post take-action">
        <h1 class="post-title">{{ section.title | safe }}</h1>

        {{ section.content | safe }}

        {% include "partials/grid-report.html" %}

        {% set events_path = macros::localized_page_path(base_path="action/events.md", lang=lang) %}
        {% set events_page = get_page(path=events_path) %}

        <h2>{{ events_page.title }}</h2>
        {{ events_page.content | safe }}

        {% set join_path = macros::localized_page_path(base_path="action/join.md", lang=lang) %}
        {% set join_page = get_page(path=join_path) %}

        <section class="action-join">
            <h2>{{ join_page.extra.title }}</h2>
            <div class="text">{{ join_page.extra.description | safe }}</div>
            <div class="button"><a href="{{ join_page.permalink }}">{{ join_page.extra.join_button }}</a></div>
        </section>
    </div>
{% endblock %}
