{% extends "base.html" %}

{% block title %}{{ section.title }} — {{ config.title }}{% endblock %}

{% block page_body %}
    {% block header %}
        <header>
            <div class="wrapper">
                <a class="logo" href="/">
                    <img src="/images/logo-owl.png" alt="Kanach Yerevan Logo" />
                </a>
                <a class="title" href="/">
                    <div class="title">{{ config.title }}</div>
                </a>
                <div class="sep"></div>
                <nav id="main-nav">
                    <div class="langsel">
                        <button class="sel">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
                            <span class="active">{{ lang }}</span>
                        </button>

                        <div class="options">
                            {% if section %}
                                {% for t in section.translations %}
                                    <a href="{{ t.permalink }}" title="{{ t.title }}">{{ trans(key="language_name", lang=t.lang) }}</a>
                                {% endfor %}
                            {% elif page %}
                                {% for t in page.translations %}
                                    <a href="{{ t.permalink }}" title="{{ t.title }}">{{ trans(key="language_name", lang=t.lang) }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <a href="{{ get_url(path="@/guidelines/_index.md", lang=lang) }}">Guidelines</a>
                    <a href="{{ get_url(path="@/monitor/_index.md", lang=lang) }}">Monitor</a>
                    <a href="{{ get_url(path="@/journal/_index.md", lang=lang) }}">Journal</a>
                    <a href="{{ get_url(path="@/about/_index.md", lang=lang) }}">About</a>
                    <a href="{{ get_url(path="@/action/_index.md", lang=lang) }}" class="button">Take Action</a>
                </nav>
                <div class="mobile bars">
                    <button id="menu-toggle" aria-label="Toggle menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
                    </button>
                </div>
            </div>
        </header>
    {% endblock header %}

    <main>
        <div class="wrapper">
            <div class="content container">
                {% block content %}
                    <div class="post">
                      <h1 class="post-title">{{ section.title }}</h1>

                      {{ section.content | safe }}
                    </div>
                {% endblock content %}
            </div>
        </div>
    </main>

    {% block footer %}
        <footer>
            <div class="wrapper">
                <div class="row1">
                    <div class="title">Kanach Yerevan</div>
                    <div class="motto">{{ trans(key="footer_myga", lang=lang) }}</div>
                </div>

                <div class="columns">
                    <div class="list">
                        <h2>{{ trans(key="footer_learn", lang=lang) }}</h2>
                        <p><a href="{{ get_url(path="@/guidelines/value.md", lang=lang) }}">{{ trans(key="footer_trees", lang=lang) }}</a></p>
                        <p><a href="{{ get_url(path="@/guidelines/biodiversity/great-tit.md", lang=lang) }}">{{ trans(key="footer_birds", lang=lang) }}</a></p>
                        <p>{{ trans(key="footer_insects", lang=lang) }}</p>
                        <p><a href="{{ get_url(path="@/guidelines/lawns.md", lang=lang) }}">{{ trans(key="footer_lawns", lang=lang) }}</a></p>
                        <p><a href="{{ get_url(path="@/guidelines/leaves.md", lang=lang) }}">{{ trans(key="footer_leaves", lang=lang) }}</a></p>
                        <p><a href="{{ get_url(path="@/guidelines/legal/administrative.md", lang=lang) }}">{{ trans(key="footer_codes", lang=lang) }}</a></p>
                    </div>

                    <div class="list">
                        <h2>{{ trans(key="footer_connect", lang=lang) }}</h2>
                        <p><a href="{{ get_url(path="@/action/join.md", lang=lang) }}">{{ trans(key="footer_join", lang=lang) }}</a></p>
                        <p>{{ trans(key="footer_groups", lang=lang) }}</p>
                        <p><a href="{{ get_url(path="@/action/events.md", lang=lang) }}">{{ trans(key="footer_events", lang=lang) }}</a></p>
                        <p><a href="{{ get_url(path="@/about/directory.md", lang=lang) }}">{{ trans(key="footer_dir", lang=lang) }}</a></p>
                        <p><a href="{{ get_url(path="@/journal/_index.md", lang=lang) }}">{{ trans(key="footer_blog", lang=lang) }}</a></p>
                    </div>

                    <div class="list">
                        <h2>{{ trans(key="footer_act", lang=lang) }}</h2>
                        <p><a href="{{ get_url(path="@/action/report.md", lang=lang) }}">{{ trans(key="footer_report", lang=lang) }}</a></p>
                        <p><a href="{{ get_url(path="@/monitor/map.md", lang=lang) }}">{{ trans(key="footer_map", lang=lang) }}</a></p>
                    </div>

                    <div class="list">
                        <h2>{{ trans(key="footer_org", lang=lang) }}</h2>
                        <p><a href="{{ get_url(path="@/about/_index.md", lang=lang) }}">{{ trans(key="footer_about", lang=lang) }}</a></p>
                        <p><a href="/team/">{{ trans(key="footer_team", lang=lang) }}</a></p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
{% endblock %}
